Требования заказчика
1. Добавить эффект неожиданности при отражении от бортов
2. Изменить цвет
3. Добавить возможности работы со звуком в предварительных настройках
4. При ударе по мячику с каждой стороны менять его цвет хаотично в течении какого то числа раз (каждый десятый)
5. Рейтинг - по количеству времени в рамках одной игры