Требования заказчика
1001. DONE. Добавить эффект неожиданности при отражении от бортов.
1002. REJECT. Изменить цвет.
1003. Добавить возможности работы со звуком в предварительных настройках.
1004. DONE. При ударе по мячику с каждой стороны менять его цвет хаотично в течении какого то числа раз (каждый десятый).
1005. Рейтинг - по количеству времени в рамках одной игры.